* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.8s ease;
}

body {
    background: #362f43;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #cfefed;
    background-color: #cfefed;

    #display {
        color: #12121b;
        margin: 0 10px;
        height: 120px;
        width: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 800;
    }

    #equal {
        height: 130px;
    }

    #limpiar {
        background-color: #20ced8;
        color: #cfefed;
    }
    
    .btn-number {
        background-color: #1a93b9;
        color: #cfefed;
    }

    .btn-operator {
        background-color: #125d7a;
        color: #cfefed;
    }

    .btn-equal {
        background-color: #20ced8;
        color: #cfefed;
    }

    /* dark theme */
    &.dark {
        background-color: #123445;
        #display {
            color: #cfefed;
        }

        #limpiar {
            background-color: #1d71be;
            color: #123445;
        }

        .btn-number {
            background-color: #20c0d8;
            color: #123445;
            font-weight: 600;
        }

        .btn-operator {
            background-color: #1f97d4;
            color: #123445;
        }

        .btn-equal {
            background-color: #1d71be;
            color: #123445;
        }
    }
}
.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;

    &::before {
        content:'';
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #333;
        z-index: -1;
    }
}
.theme-toggler.active {
    color: #333;
    &::before {
        background-color: #fff;
    }
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
        transform: scale(1.1);
    }
}
